.audio-player {
    margin: 2rem 0;
}

.audio-player audio {
    width: 100%;
    border-radius: 12px;
}

.audio-caption {
    text-align: center;
    color: gray;
    margin-top: .5rem;
    font-size: .9rem;
}